#search_results {
    width: 900px;
    z-index: 1;			/* 背面に表示 */
}

#searched_query {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 16px;
}

.rank {
    position: relative;
    font-size: 24px;
    top: 10px;
    left: -30px;
}

.relevance {
    position: relative;
    left: 0;
    float: right;
}

.relevance button {
    float: left;
    margin: 0 2px;
}

.search_result_row {
    position: relative;
    margin: 1em 0;
}

.search_result {
    max-width: 712px;
}

.search_result_title a {
    font-size: 16px;
    font-weight: bold;
    color: #1155cc;
}


.search_result_summary {
    font-size: 13px;
    color: #222222;
    margin-bottom: 5px;
}

.search_result_url {
    font-size: 13px;
    color: #009933;
}

#other_search_results a {
    margin: 5px 10px;
    font-size: 18px;
}